!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %meta(content="width=device-width, initial-scale=1" name="viewport")
    %title Mr. Potato Who?
    %link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Luckiest+Guy')
    %link(rel='stylesheet' href='/app/assets/stylesheets/application.css')
  %body
    - potatoes = [{name: 'Baked Ben', props: ['hat', 'mustache', 'glasses', 'bow-tie']},
        {name: 'Tator Tom', props: ['hat', 'mustache', 'glasses', 'bow-tie']},
        {name: 'Brotato', props: ['hat', 'mustache', 'glasses', 'bow-tie']},
        {name: 'Mike Mash', props: ['hat', 'mustache', 'glasses', 'bow-tie']},
        {name: 'Nancy Yam', props: ['hat', 'mustache', 'glasses', 'bow-tie']},
        {name: 'Darth Tator', props: ['hat', 'mustache', 'glasses', 'bow-tie']},
        {name: 'Ted Tubor', props: ['hat', 'mustache', 'glasses', 'bow-tie']},
        {name: 'Spud Lighter', props: ['hat', 'mustache', 'glasses', 'bow-tie']},
        {name: 'Fran Fry', props: ['hat', 'mustache', 'glasses', 'bow-tie']},
        {name: 'Potato.', props: ['hat', 'mustache', 'glasses', 'bow-tie']}]

    - props = [{prop: 'hat', img: 'hat.svg'}, {prop: 'mustache', img: 'mustache.svg'},
        {prop: 'bow-tie', img: 'bow-tie.svg'}, {prop: 'glasses', img: 'glasses.svg'},
        {prop: 'tattoo', img: 'tattoo.svg'}, {prop: 'fork', img: 'fork.svg'}]

    - tries = [{try: 'Try 1'}, {try: 'Try 2'}, {try: 'Try 3'}]

    .container
      %header
        %nav
          .totalPoints
            .total Total Points:
            %span 1200
            .points
          .profile
            .picture
              %img(src='/app/assets/images/person-batman.svg' alt='John')
            .name Hey, John
            .leaderpage Leader Board?
          .logo
            %img(src='/app/assets/images/logo.svg' alt='logo')
      %aside.potatoPeople
        .potato-people-container
          - (potatoes).each do |person|
            .person-container
              %h3 #{person[:name]}
              .props
                - (person[:props]).each do |prop|
                  %img(src='/app/assets/images/#{prop}.svg' alt='#{person[:name]}')
      %aside.score
        - (tries).each do |try|
          .try-container
            %h3 #{try[:try]}
      %main.board
        %h1 Mr. Potato Who?
        #game-instructions
          #close X
          %h1 Game Rules
          %h4 1. You have 3 tries to guess who's the secret potato.<br>2. Pick an item bellow to help narrow your choices.<br>3. Feel free to guess by clicking on a tater!
        .potatoBoard
          .propFeatures
            %img.glasses(src='/app/assets/images/glasses.svg' alt='glasses')
            %img.hat(src='/app/assets/images/hat.svg' alt='hat')
            %img.bow-tie(src='/app/assets/images/bow-tie.svg' alt='bow-tie')
            %img.mustache(src='/app/assets/images/mustache.svg' alt='mustache')
            %img.tattoo(src='/app/assets/images/tattoo.svg' alt='tattoo')
            %img.fork(src='/app/assets/images/fork.svg' alt='fork')
          .bodyFeatures
            %img.eyes(src='/app/assets/images/eyes.svg' alt='potato-eyes')
            %img.nose(src='/app/assets/images/big-nose.svg' alt='potato-nose')
          %img.board(src='/app/assets/images/potato.png' alt='potato-board')
      .props-container
        .prop-container
          - (props).each do |prop|
            .prop{:class => "#{prop[:name]}"}
              %img(src='/app/assets/images/#{prop[:img]}' alt='#{prop[:name]}')
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js")
    %script(src='/app/assets/javascripts/vendor.min.js')
    %script(src='/app/assets/javascripts/app.js')
