!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %meta(content="width=device-width, initial-scale=1" name="viewport")
    %title Leadership
    %link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Luckiest+Guy')
    %link(rel='stylesheet' href='/app/assets/stylesheets/application.css')
  %body
    - topPeople = [{name: 'Jane Doe', img: 'person-batman.svg', total: '1451'}, {name: 'Henry Adams', img: 'person-BB.svg', total: '1451'},
        {name: 'Lisa Kyle', img: 'person-chef.svg', total: '1451'}, {name: 'Sue James', img: 'person-MIB.svg', total: '1451'},
        {name: 'Ben Smith', img: 'person-starwars.svg', total: '1451'}, {name: 'John Doe', img: 'person-up.svg', total: '1451'},
        {name: 'Ben Smith', img: 'person-batman.svg', total: '1451'}, {name: 'John Doe', img: 'person-BB.svg', total: '1451'},
        {name: 'Ben Smith', img: 'person-chef.svg', total: '1451'}, {name: 'John Doe', img: 'person-MIB.svg', total: '1451'}]
    .container
      %header
        %nav
          .totalPoints
            .total Total Points:
            %span 1300
            .points
          .profile
            .picture
              %img(src='/app/assets/images/person-batman.svg' alt='John')
            .name Hey, John
          .logo
            %img(src='/app/assets/images/logo.svg' alt='logo')
      %main.leadership-board
        - (topPeople).each_with_index do |person, index|
          .leadership-person{:id => "#{index}"}
            .person-info
              %h1 #{person[:name]}
              %img(src='/app/assets/images/#{person[:img]}' alt='#{person[:name]}')
            .person-stats
              .placement # #{index}
              .total Total Points:
              %span #{person[:total]}
    %script(src='/app/assets/javascripts/vendor.min.js')
    %script(src='/app/assets/javascripts/app.js')
